* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --LinearGradient_1: hsl(249, 99%, 64%); 
    --LinearGradient_2: hsl(278, 94%, 30%);
    --inputsErrors:hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
}


/*Sección de las dos tarjetas*/
/*Primera*/
.section-cards {
    width: 100%;
    height: 200px;
    background-color: var(--Very_dark_violet);
    display: flex;
    justify-content: center;
}

.section-cards_container{
    width: 400px;
    position: relative;
}

.section-cards_first-card {
    width: 280px;
    height: 150px;
    position: absolute;
    left: 20%;
    top: 10%;
    background: linear-gradient(45deg, var(--Dark_grayish_violet), var(--White));
    border-radius: 10px;
}

.first-card_blacband {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 10px;
    background-color: rgba(18, 2, 23, 0.79);
}
.first-card_ccvcard {
    width: 80%;
    height: 25px;
    position: absolute;
    left: 10%;
    top: 30%;
    border-radius: 5px;
    background-color: rgb(185, 185, 185);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
}

.first-card_ccvcard p {
    color: white;
    margin-right: 10px;
    font-family:'Fraunces', serif;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;

}

/*Segunda*/
.section-cards_Second-card {
    width: 280px;
    height: 150px;
    position: absolute;
    left: 8%;
    top: 45%;
    background: linear-gradient(360deg, var(--LinearGradient_1), var(--LinearGradient_2));
    border-radius: 10px;
    animation: cambiarcard 10s ease infinite;
}

.Second-card_first-circule {
    width: 80px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circule1 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
}

.circule2 {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 50px;
}

.Second-card_Numbertarjet{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}

.Second-card_Numbertarjet p {
    font-size: 18px;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

.Second-card_NameTarjet {
    position: absolute;
    top: 75%;
    left: 10%;
}
.Second-card_NameTarjet p {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
}

.Second-card_DateTarjet {
    position: absolute;
    top: 75%;
    left: 80%;
    
}

.Second-card_DateTarjet p {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
}


/*Sección de datos a diligenciar*/

.Section-Infoclientscards {
    width: 360px;
    height: 500px;
    margin-top: 80px;
    margin-left: 10px;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-auto-columns: 100%;
    justify-content: center;

}

.Section-Infoclientscards h1 {
    color: rgb(87, 82, 82);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.Section-Infoclientscards_name input {
    width: 100%;
    height: 50%;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 5px;
}

.Section-Infoclientscards_number input {
    width: 100%;
    height: 50%;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 5px;
}

.infoDate {
    width: 50%;
}

.Section-Infoclientscards_dateandCVV {
    display: flex;   
}

.DateCards {
   display: flex;
   
}

.DateCards .Input1Cards {
    width: 40%;
    height: 50px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 5px;
    margin-right: 10%;
}

.DateCards .Input2Cards {
    width: 40%;
    height: 50px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 5px;
}

.DateCVV {
    width: 50%;
}

.DateCVV Input {
    width: 100%;
    height: 50px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 5px;
}

.ConfirmButton {
    width: 360px;
    height: 60px;
    background-color: var(--Very_dark_violet);
    border-radius: 3px;
    border-style: none;
    color: white;
}

/* <div class="DateCards">
          <h1>Exp. Date (MM/YY)</h1>
          <input class="Input1Cards" type="number" placeholder="MM">
          <input class="Input2Cards" type="number" placeholder="YY">
          <p></p>
        </div>
        <div class="DateCVV">
          <h1>cvc</h1>
          <input type="number" placeholder="e.g. 123">
          <p></p>
        </div>
      </div> */